.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
.Rproj
.Rhistory
.Rapp.history
.o
.sl
.so
.dylib
.a
.dll
.def
.ds_store
unsrturl.bst
.log
.aux
.backups
.cproject
.directory
.dropbox
.exrc
.gdb.history
.gitattributes
.gitmodules
.hgtags
.project
.seed
.settings
.tm_properties
/Design
inst/doc
ISAnalytics.Rproj
docs
sample_reports
README.Rmd
NEWS.Rmd
